<h1>Polling Unit Search</h1>

<form method="get" action="<%= url('/') %>" class="global-search-form">
  <div class="search-section-box">
    <div class="inline-search-box">
      <label for="pu-number">Search</label>
      <input type="text" id="pu-number" name="q" value="<%= params[:q] %>" placeholder="Your poll unit number">
      <input type="submit" value="Search" class="button">
    </div>
  </div>
</form>

<div class="global-search-results">

  <% if @area %>


    <p>Best match is the <%= @area[:type_name] %> "<%= @area[:name] %>" with poll unit number '<%= @area[:codes][:poll_unit] %>'</p>

    <% if @state %>
      <h3>State</h3>
      <p>
      <%= @state[:name] %>,
      <% if @governor %>
        current governor <a href="<%= jekyll_site.config['url'] + @governor.url %>"><%= @governor['name'] %></a>
      <% else %>
        no current governor
      <% end %>
      </p>
    <% end %>


  <h3>Overlapping Federal Constituencies</h3>

  <ul>

    <li><a href="/place/aba-north-aba-south/">Aba North/Aba South</a>,

      no current representative

    </li>

  </ul>

  <h3>Overlapping Senatorial Districts</h3>

  <ul>

    <li><a href="/place/abia-south/">ABIA SOUTH</a>,

      current senator <a href="/person/abaribe-enyinnaya-harcourt/">ABARIBE ENYINNAYA HARCOURT</a>

    </li>

  </ul>

<% elsif params[:q] %>

  <p>No results for '<%= params[:q] %>'.</p>

<% else %>

  <p>Please enter a search term in the form above.</p>

<% end %>
</div>
